<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script type="text/javascript" src=src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">SpringBootManager</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<div class="container-fluid mt-5">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <span th:if="${isAdmin}">
                        <li class="nav-item">
                        <a class="nav-link" href="/admin/showUsers">
                            Admin
                        </a>
                    </li>
                    </span>
                    <span th:if="${isUser}">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/user/forUsers/' + ${userAuthorized.id}}">
                            User
                        </a>
                    </li>
                        </span>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1>Admin panel</h1>
            </div>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                       aria-controls="nav-home" aria-selected="true">Users table</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                       aria-controls="nav-profile" aria-selected="false">New user</a>
                </div>
            </nav>
            <div class="chartjs-size-monitor"
                 style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                <div class="chartjs-size-monitor-expand"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <table class="table">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">All users</h4>
                        </div>
                        <tr>
                            <td><strong>ID</strong></td>
                            <td><strong>Имя</strong></td>
                            <td><strong>Возраст</strong></td>
                            <td><strong>Пароль</strong></td>
                            <td><strong>Edit</strong></td>
                        </tr>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}">Id</td>
                            <td th:text="${user.username}">Name</td>
                            <td th:text="${user.age}">Age</td>
                            <td th:text="${user.password }">Password</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        th:attr="data-target='#exampleModal'+${user.id}">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        th:attr="data-target='#myModal'+${user.id}">
                                    Delete
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" th:attr="id='exampleModal'+${user.id}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{'/admin/update/' + ${user.id}}" method="post">
                                                    <div class="row justify-content-center">
                                                        <div class="form-group">
                                                            <label>Name</label>
                                                            <input type="text" class="form-control"
                                                                   th:value="${user.username}"
                                                                   th:placeholder="${user.getUsername()}"
                                                                   name="username">
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="form-group">
                                                            <label>Age</label>
                                                            <input type="text" class="form-control"
                                                                   th:value="${user.getAge()}"
                                                                   th:placeholder="${user.getAge()}"
                                                                   name="age">
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="form-group">
                                                            <label>Password</label>
                                                            <input type="password" class="form-control"
                                                                   th:placeholder="${user.getPassword()}"
                                                                   name="password">
                                                        </div>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <div class="form-group form-check">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox"
                                                                       name="roleAdmin"
                                                                       value="1">
                                                                <label class="form-check-label"
                                                                       for="inlineCheckbox1">Admin</label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox"
                                                                       name="roleUser"
                                                                       value="2">
                                                                <label class="form-check-label"
                                                                       for="inlineCheckbox2">User</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">
                                                            Cancel
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Edit user</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ModalDelete -->
                                <div class="modal fade" th:attr="id='myModal'+${user.id}" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModalLabel">Edit user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{'/admin/delete/'+${user.id}}" method="post">
                                                    <div class="row justify-content-center">
                                                        <div>
                                                            <label>Do you wanted delete user <a
                                                                    th:text="${user.id}"></a>?</label>
                                                            <input type="hidden" name="id" th:value="${user.id}">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Delete user
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Add new user</h4>
                    </div>
                    <form action="/admin/add" method="post">
                        <div class="row justify-content-center">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" id="nane" placeholder="Name" name="username">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group">
                                <label>Age</label>
                                <input type="text" class="form-control" id="age" placeholder="Age" name="age">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password"
                                       name="password">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="form-group form-check">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                           name="roleAdmin" value="1">
                                    <label class="form-check-label" for="inlineCheckbox1">Admin</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="roleUser"
                                           value="2" checked>
                                    <label class="form-check-label" for="inlineCheckbox2">User</label>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary">Add new user</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>